parameters:
    database_host: 127.0.0.1
    database_port: 8889  # using mamp mysql instance
    database_name: r3d_products
    database_user: root
    database_password: root

    mailer_transport: smtp
    mailer_host: smtp.gmail.com
    mailer_user: diazalej@gmail.com
    mailer_password: __CHANGEME__
    mailer_auth_mode: login
    mailer_port: 587
    mailer_encryption: tls

    secret: f23247ac143097bf59e583798074bd43dd4d7020
    
    product_email_from: diazalej@gmail.com
    product_email_to: diazalej@gmail.com
    product_email_subject: New product added...